@use "../../../../../assets/scss/variables/typography" as *;
@use "../../../../../assets/scss/variables" as *;
@use "../../../../../assets/scss/functions/px-to-rem.scss" as *;

.fx-ui-input {
  margin: px-to-rem(20) 0;

  &-label {
    display: inline-block;
    margin-bottom: 0.5rem;
    font-size: $font-size-base;
  }
  &-radio,
  &-checkbox {
    height: 20px;
    width: 20px;
  }
  &-radio {
    border-radius: 50%;
    display: block;
  }

  &-text {
    width: 100%;
    padding: 1rem;
    border: 1px solid $grey-500;
    border-radius: 5px;
    font-size: $font-size-sm;
    font-family: inherit;
    font-weight: 300;
    &:focus {
      outline: none;
      border: 1px solid $primary;
    }
  }
}
