<div class="fx-ui-input">
  <form class="fx-ui-input-group">
    <label [for]="getComputedLabelProps()" class="fx-ui-input-label">
      {{ inputLabel() }}
    </label>

    @if (inputType() === "text") {
      <input
        type="text"
        [name]="getComputedLabelProps()"
        [id]="getComputedLabelProps()"
        [value]="value"
        [disabled]="disabled"
        (input)="onInput($event)"
        (blur)="onTouched()"
        class="fx-ui-input-text"
      />
    }
    @if (inputType() === "radio") {
      <input
        type="radio"
        [name]="getComputedLabelProps()"
        [id]="getComputedLabelProps()"
        [value]="value"
        [disabled]="disabled"
        (input)="onInput($event)"
        (blur)="onTouched()"
        class="fx-ui-input-radio"
      />
    }
    @if (inputType() === "checkbox") {
      <input
        type="checkbox"
        [name]="getComputedLabelProps()"
        [id]="getComputedLabelProps()"
        [value]="value"
        [disabled]="disabled"
        (input)="onInput($event)"
        (blur)="onTouched()"
        class="fx-ui-input-checkbox"
      />
    }
  </form>
</div>
