<div class="fx-ui-input">
  <form class="fx-ui-input-group">
    <label [for]="getComputedLabelProps()" class="fx-ui-input-label">
      {{ inputLabel() }}
    </label>
    @if (inputType() === "text") {
      <input
        type="text"
        [id]="getComputedLabelProps()"
        [name]="getComputedLabelProps()"
        class="fx-ui-input-text"
      />
    }
    @if (inputType() === "radio") {
      <input
        type="radio"
        [id]="getComputedLabelProps()"
        [name]="getComputedLabelProps()"
        class="fx-ui-input-radio"
      />
    }
    @if (inputType() === "checkbox") {
      <input
        type="checkbox"
        [id]="getComputedLabelProps()"
        [name]="getComputedLabelProps()"
        class="fx-ui-input-checkbox"
      />
    }
  </form>
</div>
