<section>
  <p-menubar [model]="items">
    <ng-template pTemplate="item" let-item>
      <ng-container *ngIf="item.route; else urlRef">
        <a [routerLink]="item.route" class="p-menuitem-link">
          <span [class]="item.icon"></span>
          <span class="ml-2">{{ item.label }}</span>
        </a>
      </ng-container>
      <ng-template #urlRef>
        <a
          *ngIf="item.url; else noLink"
          [href]="item.url"
          class="p-menuitem-link"
        >
          <span [class]="item.icon"></span>
          <span class="ml-2">{{ item.label }}</span>
        </a>
      </ng-template>
      <ng-template #noLink>
        <div class="p-menuitem-link">
          <span [class]="item.icon"></span>
          <span class="ml-2">{{ item.label }}</span>
          <span class="pi pi-fw pi-angle-down ml-2"></span>
        </div>
      </ng-template>
    </ng-template>
  </p-menubar>

  <div class="container">
    <!-- for every item in the api response of products, we will show a card with product details-->
    <div *ngFor="let product of products$ | async" class="flex gap-3">
      <p-card
        header="{{ product.title }}"
        subheader="Card Subheader"
        [style]="{ width: '360px' }"
      >
        <ng-template pTemplate="header">
          <img
            alt="Card"
            src="https://primefaces.org/cdn/primeng/images/card-ng.jpg"
          />
        </ng-template>
        <p>Lorem ipsum dolor sit amet...</p>
        <ng-template pTemplate="footer">
          <div class="flex gap-3 mt-1">
            <p-button
              label="Cancel"
              severity="secondary"
              class="w-full"
              styleClass="w-full"
            />
            <p-button label="Save" class="w-full" styleClass="w-full" />
          </div>
        </ng-template>
      </p-card>
    </div>
  </div>
</section>
