@use "../functions/px-to-rem.scss" as *;

$font-size-xs: px-to-rem(12);
$font-size-sm: px-to-rem(14);
$font-size-base: px-to-rem(16);
$font-size-md: px-to-rem(22);
$font-size-lg: px-to-rem(48);
$font-size-xl: px-to-rem(64);

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

$line-height-base: 1.25;
$line-height-lg: 1.5;

$letter-spacing-base: 0.5px;

$font-family-base: "Open Sans", sans-serif;
